*{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
}

sup {
	font-size: 10px;
}

body{
	font-family:'Raleway', sans-serif;
	font-weight:bold;
}

p sup, #bold_oj{
	color:#C97E43;
}

/* NAVIGATION */

nav {
	min-width:100%;
	height:70px;
	background-color:#FE7E00;
	border-bottom:5px ridge;
	border-color:#F37000;

}

.logo, nav li{
	padding: 10px;
	display:inline-block;
}

.logo {
		margin: 5px 0px 0px 20px;
}

nav li{
	margin: 20px 0px 0px 20px;
}

span{
	font-family:sans-serif;
	font-weight:bold;
}

.logo{
	float:left;
	font-size:28px;
}

nav li{
	float:right;
	font-size:12px;
	font-weight:900;
}

/*NAV PSEUDO COLORS*/

.logo, nav a:link{	
	color:#FFFFFF;
}

nav a:hover {
 color: blue
}

nav a:active{
 color:#6600ff
}

/*MAIN CONTENT*/

.main_content{
	background-color:#F9F9F9;
	height:500px;
}

input{
	background-color:#EFEFED;
	padding:8px;
	margin:10px 30px;
	float:right;
	border: 2px solid #7ACCC8;
	border-radius: 3px;
}

img{
	float:left;
	border: 4px solid #90d5d1;
	border-radius: 10px;
	width:450px;
	padding:5px;
	margin:85px 10px 30px 60px;
}

p {
	color:#e2bb9c;
	font-size: 37px;
	line-height:1.4;
	float:right;
	padding:10px;
	margin:120px -80px 0px 60px;
	display: inline;
}

	/*UNVISITED LINK*/
	
p a:link{
	color:#7ACCC8;
	font-family:sans-serif;
	font-weight:normal;
}

/*HOVER OVER LINK*/

p a:hover{
	color: blue;
}

/*SELECTED LINK*/

p a:active{
	color:#6600ff
}

 div.buttons {
	width:645px
	margin:10px;
	font-size:10px;
	float:right;	
}

div #quote {
	background-color:#FE7E00;
	border-color: #E9AA67;
	padding: 18px 75px;
	margin: 5px 10px 5px 0px;
	border: 2px solid #ffa64d;
	border-radius:5px;
}

div #cases{
	background-color:#7ACCC8;
	border-color:#ACD4D3;
	padding: 18px 65px;
	margin: 5px 5px;
	border: 2px solid #7ececa;
	border-radius:5px;
	
}


/*FOOTER*/

footer {
	min-width:100%;
	height:65px;
	background-color:#7ACCC8;
	border-top:5px ridge;
	border-color:#7ececa;
}